p Welcome back:
- user.each do |element|
    label = element['realName']
end

p Nickname:
- user.each do |element|
    label = element['nickname']
end

p
textarea rows="1" cols="50" placeholder="Title"
p
textarea rows="8" cols="80" placeholder="Write your text"
p 
form action="/post" method="GET"
    input type="submit" value="Upload post"
p
form action="/edit" method="GET"
    input type="submit" value="Edit page"