p Welcome back:
- user.each do |element|
    label = element['realName']
end

p Nickname:
- user.each do |element|
    label = element['nickname']
end

p 

form action="/edit/:id" method="GET"
    input type="submit" value="Edit page"