textarea rows="1" cols="50" placeholder="Title" name="title"
p
textarea rows="8" cols="80" placeholder="Write your text" name="text"
p 
form action="/uploadPost/:id" method="POST"
    input type="submit" value="Upload post"